<launch>
    <arg name="pinata_api_key" default="" />
    <arg name="pinata_secret_api_key" default="" />

    <arg name="model" default="QmWDRjU7xrM7pFUDuAVbV6kytuFgooahNLsqvCnipPgSSQ" />
    <arg name="token" default="0x7dE91B204C1C737bcEe6F000AAA6569Cf7061cb7" />

    <node name="trader" pkg="digital_passport_agent" type="trader_node" output="screen" respawn="true">
        <param name="model" value="$(arg model)" />
        <param name="token" value="$(arg token)" />
        <param name="order_lifetime" value="100" />
    </node>

    <node name="worker" pkg="digital_passport_agent" type="worker_node" output="screen" respawn="true">
        <param name="pinata_api_key" value="$(arg pinata_api_key)" />
        <param name="pinata_secret_api_key" value="$(arg pinata_secret_api_key)" />
    </node>
</launch>
